@media (max-width:1250px) {
    .form {
        width: 90%;
        height: 95%;
    }

    .section-item {
        min-width: calc(50% - 50px);
    }

    .para-text {
        width: 95%;
    }

    .label-value {
        left: 25px;
        font-size: 15px;
    }

    .success-message {
        width: 40%;
        height: 60%;
    }

    .btn-success {
        width: auto;
    }
}

@media (max-width:1000px) {
    .container {
        padding: 30px 20px;
        height: 148vh;
    }

    .form {
        width: 100%;
        margin-top: 30px;
        height: 100%;
    }

    .description {
        width: 80%;
        font-size: 16px;
    }

    .success-message {
        width: 65%;
        height: 70%;
    }

    .sucess-btn-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .btn-success:last-child {
        margin-left: 0;
        margin-top: 15px;
    }

    .btn-success {
        width: 190px;
    }

    .section {
        display: block;
        margin-bottom: 0px;
    }

    .section-item {
        margin-bottom: 50px;
        min-width: 100%;
    }

    .label-value {
        left: 30px;
        font-size: 15px;
    }

    .btn-container {
        height: 50px;
        position: relative;
    }

    .btn-submit {
        bottom: 15px;
    }

    .success {
        height: 100vh;
    }

}

@media (max-width:650px) {
    .container {
        padding: 10px 20px;
        height: 190vh;
    }

    .description {
        width: 90%;
        font: size 15px;
        ;
    }

    .success {
        height: 100vh;
    }

    .success-message {
        width: 92%;
        height: 70%;
    }

    .btn-submit {
        width: 60%;
    }

    .select-container {
        flex-direction: column;
    }

    .select-item {
        margin-bottom: 10px;
    }

}